name: Build & Test

on:
  push:
    branches: [master, release-*]
    tags: ["*.*.*"]
  pull_request:
env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
          fetch-depth: 0
    - name: Setup .NET 5.x
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: 5.0.x          
    - name: Setup .NET 3.1.x
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: 3.1.x
    - name: Build
      run: dotnet build src/Particular.Approvals.sln --configuration Release
    - name: Test
      run: dotnet test src/Particular.Approvals.sln --configuration Release --no-build --logger "GitHubActions;report-warnings=false"
    - name: Artifacts
      uses: actions/upload-artifact@v2.2.2
      with:
        name: nugets
        path: nugets/     
        retention-days: 14
